# Paquetes principales de IA y federated learning
flwr
notebook
openvino
openvino-genai

# Paquetes científicos básicos (si no están ya por conda)
numpy
pandas
matplotlib
scikit-learn
psutil
tqdm

# PyTorch (si no están ya por conda)
pytorch
torchvision
torchaudio
